<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuoteMaster</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sparkle.css@1.9.5/dist/css/sparkle.min.css">
</head>
<body>
    <div class="wrapper">
        <h1>QuoteMaster</h1>
        <p class="text--subtext">
            *If you type 'JD Riviere' as the name of the quoter,
            you can use these two buttons above to see what happens.
        </p>

        <% if (flash.info) { %>
        <div class="alert alert--warning">
            <p><%= flash.info %></p>
        </div>
        <% } %>

        <form action="/quotes" method="POST">
            <div class="grid grid--gutter">
                <div class="column column--fourth">
                    <input class="input" type="text" placeholder="Enter a Name" name="name" required>
                </div>
                <div class="column column--fourths">
                    <input class="input" type="text" placeholder="Enter a Quote" name="quote" required>
                </div>
            </div>
            <button class="button" type="submit">Submit</button>
        </form>
    
        <div class="buttons">
            <button class="button button--info" id="update">
                <span><i class="fa fa-file-o"></i></span>
                &nbsp;Update One Quote With...!
            </button>
            <button class="button button--danger" id="delete">
                <span><i class="fa fa-trash-o"></i></span>
                &nbsp;Delete Last Quote From...!
            </button>
        </div>
        
        <% for (var i = 0; i < quotes.length; i++) { %>
        <blockquote class="blockquote">
            <%= quotes[i].quote %>

            <div class="blockquote__footer">
                <p>-- <%= quotes[i].name %></p>
            </div>
        </blockquote>
        <% } %>
    </div>
    
    <script src="main.js"></script>
</body>
</html>