doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title QuoteMaster
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sparkle.css@1.9.13/dist/css/sparkle.min.css")

body
    div.wrapper.make-padding-30-top
        h1 QuoteMaster
        p.make-text-size6
        |   *If you type 'JD Riviere' as the name of the quoter,
        |   you can use these two buttons below to see what happens.

        //- FLASH MESSAGE
        if flash.info
            .alert.make-warning
                p #{flash.info}

        //- FORM
        form(action="/quotes" method="POST")
            .grid.make-gutters
                .column.make-fourth
                    label.label(for="name") Name:
                    .form-group
                        button.button(disabled)
                            i.fa.fa-user
                        input.input(type="text", id="name", name="name", required)
                .column.make-fourths
                    label.label(for="quote") Quote:
                    .form-group
                        button.button(disabled)
                            i.fa.fa-question
                        input.input(type="text", id="quote", name="quote", required)
            button(type="submit").button Submit
    
        //- ADD-ON OPTIONS
        .buttons.make-margin-30-vertical
            button.button.make-info#update
                i.fa.fa-plus
                span.make-margin-10-left Add Secret Quote
            button.button.make-danger#delete
                i.fa.fa-trash-o
                span.make-margin-10-left Delete Secret Quote
        
        //- QUOTE LIST
        h3 Quotes
        each quote in quotes
            blockquote.blockquote
                p #{quote.quote}

                footer.blockquote__footer #{quote.name}
        else
            h4 No quotes found.
    
    //- SCRIPTS
    script(src="main.js")